#app {
  position: relative; /* Permette al contenuto di sovrapporsi al background */
  opacity: 1; /* Opacità del contenuto */
  z-index: 1; /* Assicurati che il contenuto sia sopra il background */
  max-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#root {
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  background: url("../src/assets/ioia-bg.jpg") no-repeat 0 100%;
  padding: 2rem;
  text-align: center;
  position: relative;
  z-index: 1;
}

/* Aggiunta del background con opacità usando ::before */
#root::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white; /* Colore di sfondo */
  opacity: 0.6; /* Opacità del background */
  z-index: -1; /* Invia il background dietro al contenuto */
}
